body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}


.header {
  background-color: #222;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header input[type="text"] {
  width: 480px;
  /* Set width as per your requirement */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.header .loginbutton {
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.container#container {
  display: flex;
  flex-direction: row;
  padding: 0;
  min-height: 100vh;
}

.menu {
  width: 360px;
  background-color: #222;
  /* Adjust according to header and footer height */
  overflow-y: auto;
  flex-shrink: 0;
  max-height: inherit;
  /* Add scrollbar if content exceeds menu height */
}

.menu ul {
  list-style-type: none;
}

.content {

  flex-grow: 1;
  padding: 0px;
}

.content .playlist_content .playlist_header
{
  display: flex;
  align-items: flex-end;
  padding: 20px;
}

.content .playlist_content .playlist_header .text 
{
flex : 1;
}

.content .playlist_content .playlist_header .image 
{
  flex: 0 0 auto;
  margin-right: 20px; /* Adjust spacing */
}

.artist_header
{
  display: flex;
  align-items: flex-end;
  padding: 20px;
}

.artist_header .text 
{
flex : 1;
}

.content .artist_header .image 
{
  flex: 0 0 auto;
  margin-right: 20px; /* Adjust spacing */
}

.album_header
{
  display: flex;
  align-items: flex-end;
  padding: 20px;
}

.album_header .text 
{
flex : 1;
}

.content .album_header .image 
{
  flex: 0 0 auto;
  margin-right: 20px; /* Adjust spacing */
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/* Set minimal width for all columns */
th:first-child, td:first-child,
th:last-child, td:last-child {
  width: 30px; /* adjust as needed */
}

/* Set second column to expand */
th:nth-child(2), td:nth-child(2) {
  width: auto;
}

#download_playlist span 
{
  margin-left: 10px;
  width: 100px;
  height: 100px;
}

table#track_list
{
  max-height: max-content;
  border: 0;

}